# https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

[*.{yml,yaml,json}]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_expression_bodied_methods = when_on_single_line:silent
dotnet_diagnostic.CS1591.severity = none